/*
html{
  background-color: cornflowerblue;
  margin:0;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100%;
  text-align:center;
}

body{
  margin:0;
}

.heading {
  margin:0;
  border: 0.3em inset red;
  padding:15px;
  background-color: lightblue;
}

.navbar{
  align-items: center;
}

.homebar{
  box-sizing: border-box;
  border: 1em black;
  text-align: center;
  border-width: 3em;
}

.aboutbar{
  box-sizing: border-box;
  border:0.2em black;
  text-align: center;
  border-width: 3em;
}

h1{
  font-size: 3em;
  font-weight:lighter;
}

h2{
  font-size: 1em;
  font-weight:lighter;
}


Not using this but might use later

.parent {
  border: 0.3em inset darkgreen;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  background-color: bisque;
}

.child {
  display: inline-block;
  border: 0.3em inset red;
  overflow: auto;
  width: 15%;
  max-width: fit-content;
  box-sizing: border-box;
  padding: 0;
}
  */