html{
  background-color: cornflowerblue;
  margin:0;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 175%;
  text-align:center;
}

h1{
  font-size: 3em;
  font-weight:lighter;
}

body{
  margin:0;
  box-sizing: border-box;
  border: 1em black;
  text-align: center;
  border-width: 3em;
}

/*

Might use later

.heading {
  margin:0;
  border: 0.3em inset red;
  padding:15px;
  background-color: lightblue;
}

h2{
  font-size: 1em;
  font-weight:lighter;
}

body{
  margin:0;
}

.navbar{
  box-sizing: border-box;
  border: 1em black;
  text-align: center;
  border-width: 3em;
}
*/