html{
  background-color: cornflowerblue;
  font-size: 175%;
  text-align:center;
}

h1{
  font-size: 3em;
  font-weight:lighter;
}

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px
}
/*

p {
  border: 1em solid black;
  text-indent: 50px;
}

Might use later
line-height: 1;

.heading {
  margin:0;
  border: 0.3em inset red;
  padding:15px;
  background-color: lightblue;
}

h2{
  font-size: 1em;
  font-weight:lighter;
}

body{
  margin:0;
}

.navbar{
  box-sizing: border-box;
  border: 1em black;
  text-align: center;
  border-width: 3em;
}
*/